:root {
    --vue: #3eaf7c;
    --react: #61dafb;
    --blue1: #006ee0;
    --purple: #7011f5;
    --githubDark: #24292f;
    --CSDN: #fc1944;
    --git: #f34c28;
    --leetCode: #ffa116;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

/* aside */
aside {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #e493d0;
    background-image: radial-gradient(closest-side, var(--react), transparent),
    radial-gradient(closest-side, var(--blue1), transparent),
    radial-gradient(closest-side, var(--vue), transparent),
    radial-gradient(closest-side, var(--git), transparent),
    radial-gradient(closest-side, var(--leetCode), transparent);
    background-size: 130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
    background-position: -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
    animation: 11s moveBack linear infinite;
    box-shadow: inset 0 -6px 18px rgba(0,0,0,.1);
}

aside::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@keyframes moveBack {
    0%, 100% {
        background-size: 130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
        background-position: -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    }
    25% {
        background-size: 100vmax 100vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        60vmax 60vmax;
        background-position: -60vmax -90vmax,
        50vmax -40vmax,
        0 -20vmax,
        -40vmax -20vmax,
        40vmax 60vmax;
    }
    50% {
        background-size: 80vmax 80vmax,
        110vmax 110vmax,
        80vmax 80vmax,
        60vmax 60vmax,
        80vmax 80vmax;
        background-position: -50vmax -70vmax,
        40vmax -30vmax,
        10vmax 0,
        20vmax 10vmax,
        30vmax 70vmax;
    }
    75% {
        background-size: 90vmax 90vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        70vmax 70vmax;
        background-position: -50vmax -40vmax,
        50vmax -30vmax,
        20vmax 0,
        -10vmax 10vmax,
        40vmax 60vmax;
    }
}
aside h2{
    position: absolute;
    top: 30%;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: var(--vue);
    text-shadow: 1px 1px 2px var(--react),
                0 -4px 4px rgba(0, 0, 0, .1);
    letter-spacing: .2rem;
}
/* nav */
nav{
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 5px 15px;
    margin-bottom: 10px;
    box-shadow: 0 6px 17px rgba(0,0,0,.05);
}

/* body */
.container {
    background-color: #fff;
    z-index: 100;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 10px;

    min-height: 100vh;
}
